@charset "UTF-8";

.divNomeJogoLogin{
	background-color: #8661C1; 
	text-align: center;
	
}

.botaoInput{
	border-radius: 8px;
}

.fonte{
	color: #FAA916;
	font-family: 'Bauhaus Modern', sans-serif;
	font-size: 100px; 
}

.corpoInicial{
	background-color: #8661C1;
}

.divLogin{
	width: 50%;
	height: 40%; 
	text-align: center;
	border-style: groove;
	border-radius: 10px;
	margin-left: 25%;
	margin-right: 25%;
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 2%;
}

.botaoJogar{
	width: 20%;
	border-radius:8px;
}