@charset "UTF-8";

.divNomeJogoLogin{
	background-color: #8661C1; 
	text-align: center;
	
}

.botaoInput{
	border-radius: 8px;
}

.fonte{
	color: #f61379;
	font-family: 'Bauhaus Modern', sans-serif;
	font-size: 100px; 
	text-align: center;
	font-style: normal;
	font-weight: bold;
	text-shadow: 2px 2px white;
	
}

.corpoInicial{
	background-color: #8661C1;
}

.divLogin{
	width: 50%;
	height: 40%; 
	text-align: center;
	border-style: groove;
	border-radius: 10px;
	margin-left: 25%;
	margin-right: 25%;
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 2%;
}

.botaoJogar{
	width: 20%;
	border-radius:8px;
}

.botoesMenu{
	border-radius: 5px;
	
}

.jogarParar{
	padding-left: 5px;
	background-color: #3bc472;
	border-radius: 1000px;
	width: 150px;
	color: white;
	background-color: black 0.2;
}

.pausarRetomar{
	background-color: #FF9770;
	border-radius: 1000px;
	width: 150px;
	color: black;
}


